RewriteEngine On

# Verifica se o arquivo existe
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule ^(.*)$ - [L]

# Verifica se o diretório existe e se o usuário tem permissão para acessá-lo
RewriteCond %{SCRIPT_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} !-d [OR]
RewriteCond %{REQUEST_FILENAME} !-r
RewriteRule ^(.*)$ index.php?url=$1 [L]

# Se o arquivo ou diretório não existe, redireciona para a página inicial
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L]

Options -Indexes