/*Configurações básicas*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;

}

.logo {
  height: 80px;
  width: 80px;
}

.logo img {
  width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.nav-link-custom {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.nav-link-custom:focus {
  outline: none;
}

.nav-link-custom:hover {
  transition: all .5s;
}




/*Utilizado junto com a classe btn do bootstrap*/
.btn-custom-blue {
  font-weight: 450;
}

.card-cover-image {
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.cursor-pointer:hover{
  cursor: pointer;
}

.btn-adm{
  background-color: #ffd13b;
    color: #1b669c;
}
.btn-adm:hover{
  background-color: #1b669c;
  color: #ffd13b;
  transition: all .3s;
}

.preview{
  text-align: center;
  
}

#preview{
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.botao-admin {
  margin: 20px;
  z-index: 2000;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;

}

.botao-flutuante{
  padding: 7px;
  background-color: #ffd13b;
  border: none;
  border-radius: 15px;
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.botao-flutuante:hover{
  transition: .3s all;
  color: #1b669c;
}

.heart {
  font-size: 1.5rem;
  color: rgb(172, 169, 169); 
  cursor: pointer;
}
.heart:hover{
  color: #f59393;
}

.heart-favorite {
  color: rgb(250, 53, 53);
  cursor: pointer;
  font-size: 1.5rem; 
  animation: explode 0.5s forwards;
  border-radius: 50%; 
}
.heart-favorite:hover{
  color: rgb(236, 26, 26);
}

@keyframes explode {
  0% {
    font-size: 1.5rem; 
}
50% {
  font-size: 2rem; 
}
100% {
    font-size: 1.5rem; 
}
}